/* root */

/* tags <> */

/* classes . */

.cols{

}

.liBox{
    border: 0.25vh solid black;
    vertical-align: middle;
}

.icon{
    width: 5%;
}

.checkbox{
    transform: scale(2);
}

/* ids # */

#collBox{
    display: flex;
    justify-content:center;
}

#colA{
    width: 45vw;
}

#colB{
    width: 45vw;
}